body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 20px;
}

h1 {
  color: #333;
}
#heading{
    color: aliceblue;
}

#root {
  margin-bottom: 20px;
  height: 3rem;
  background-color: rgb(39, 145, 145);
}

#container {
  border: 1px solid #ccc;
  padding: 10px;
  min-height: 50px;
  margin-bottom: 20px;
}

button {
  padding: 8px 12px;
  margin: 5px;
  cursor: pointer;
  background-color: rgb(20, 134, 201);
  color: white;
  border-radius: 8px;
  border-style: hidden;
}

input {
  padding: 5px;
  margin: 5px;
}

#output {
  font-weight: bold;
  color: blue;
}

#result {
  border: 1px solid #ccc;
  padding: 10px;
}


#result {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  background: white;
  width: 300px;
  border-radius: 5px;
}

#result h2 {
  margin: 0 0 10px;
  font-size: 18px;
  color: #333;
}

#result img {
  border-radius: 50%;
  margin: 10px 0;
}

#result p {
  margin: 5px 0;
  font-size: 14px;
}

#result a {
  color: #51279B;
  text-decoration: none;
}

#result a:hover {
  text-decoration: underline;
}